# Importing Required Libraries

In [1]:
import numpy as np 
import pandas as pd 
import sklearn
from sklearn import svm
from sklearn import tree
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Loading the Dataset

In [2]:
df = pd.read_csv('heart.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

# Separating into features and target

In [4]:
x = df.drop(columns=["target"])
y = df["target"]
x.shape

(303, 13)

# Splitting Train and Test Dataset

In [5]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.3,shuffle = True)

# Using Support Vector Machines

In [6]:
clf1 = svm.SVC()
clf1.fit(x_train, y_train)
y_hat1 = clf1.predict(x_test)
accuracy_score(y_test,y_hat1)

0.6043956043956044

# Using Decision Trees

In [7]:
clf2 = tree.DecisionTreeClassifier()
clf2.fit(x_train,y_train)
y_hat2 = clf2.predict(x_test)
accuracy_score(y_test,y_hat2)

0.6813186813186813

# Using Random Forest

In [8]:
clf4 = RandomForestClassifier(max_depth=2, random_state=0)
clf4.fit(x_train,y_train)
y_hat4 = clf4.predict(x_test)
accuracy_score(y_test,y_hat4)

0.8021978021978022